<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      href="/public/css/BootStrap.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
    href="/public/css/mainpage.css"
    rel="stylesheet"
   />
   <link
    href="/public/css/content.css"
    rel="stylesheet"
   />
    <style>
      .form-signin {
        max-width: 330px;
        padding: 1rem;
      }

      .form-signin .form-floating:focus-within {
        z-index: 2;
      }

      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
  </head>
  <body class="d-flex align-items-center">
    <main class="form-signin w-100 m-auto">
      <form id="loginForm">
        <h1 class="h3 mb-3 fw-normal text-white">Please sign in</h1>

        <div class="form-floating">
          <input
            type="email"
            name="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            required
          />
          <label for="floatingInput" style="color: gray">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
          />
          <label for="floatingPassword" style="color: gray">Password</label>
        </div>

        <div class="form-check text-start my-3">
          <input
            class="form-check-input"
            type="checkbox"
            value="remember-me"
            id="flexCheckDefault"
          />
          <label class="form-check-label text-white" for="flexCheckDefault">
            Remember me
          </label>
        </div>
        <button class="btn ButtonColorType w-100 py-2" type="submit">
          Sign in
        </button>
        <div class="alert alert-danger mt-3 error-text" role="alert" id="error-text">
            errorMessage
        </div>
        <p class="mt-5 mb-3 text-white">
          Using getbootstrap.. i don't do html/css
        </p>
      </form>
    </main>
    <script
      src="/public/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/login.js"></script>
  </body>
</html>
