<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      href="/public/css/BootStrap.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link href="/public/css/content.css" rel="stylesheet" />
    <link
    href="/public/css/mainpage.css"
    rel="stylesheet"
   />
    <style>
      .form-signin {
        max-width: 330px;
        padding: 1rem;
      }

      .form-signin .form-floating:focus-within {
        z-index: 2;
      }

      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
  </head>
  <body class="d-flex align-items-center py-4">
    <main class="form-signin w-100 m-auto">
      <form id="setupForm">
        <h1 class="h3 mb-3 fw-normal text-white">Please set values</h1>

        <div class="form-floating mb-3">
          <input
            type="email"
            name="email"
            class="form-control"
            id="floatingInput"
            placeholder="admin@fortbackend.com"
          />
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="password"
            name="confirmPassword"
            class="form-control"
            id="refloatingPassword"
            placeholder="Confirm Password"
          />
          <label for="refloatingPassword">Confirm Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit" disabled>
          Update Details
        </button>

        <div class="alert alert-danger mt-3 error-text" role="alert" id="error-text">
          errorMessage
        </div>

        <div
          class="alert alert-danger mt-3"
          id="passwordMismatch"
          style="display: none"
          role="alert"
        >
          <a id="errormessage"></a>
        </div>

        <p class="mt-5 mb-3 text-white">
          Using getbootstrap.. i am not doing this
        </p>
      </form>
    </main>

    <script
      src="/public/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      var passwordField = document.getElementById("floatingPassword");
      var confirmPasswordField = document.getElementById("refloatingPassword");
      var passwordMismatchMessage = document.getElementById("passwordMismatch");
      var errormessage = document.getElementById("errormessage");
      var emailInput = document.getElementById("floatingInput");
      var submitButton = document.querySelector('button[type="submit"]');

      confirmPasswordField.addEventListener("input", function () {
        if (passwordField.value !== confirmPasswordField.value) {
          passwordMismatchMessage.style.display = "block";
          errormessage.textContent = "Password doesnt match";
        } else {
          var passwordRegex =
            /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@('@')$!%*?&])[A-Za-z\d@('@')$!%*?&'^\-_\#]{7,}$/;
          if (!passwordRegex.test(passwordField.value)) {
            passwordMismatchMessage.style.display = "block";
            errormessage.textContent =
              "Password must be at least 7 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.";
          } else {
            passwordMismatchMessage.style.display = "none";
            errormessage.textContent = "";
            submitButton.disabled = false;
          }
        }
      });

      function checkInputs() {
        if (
          emailInput.value.trim() !== "" &&
          passwordField.value.trim() !== "" &&
          confirmPasswordField.value.trim() !== ""
        ) {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      }

      document
        .getElementById("floatingInput")
        .addEventListener("input", checkInputs);
      document
        .getElementById("floatingPassword")
        .addEventListener("input", checkInputs);
      document
        .getElementById("refloatingPassword")
        .addEventListener("input", checkInputs);
    </script>
    <script src="/public/js/setup.js"></script>
  </body>
</html>
