<div>
  <h2>News Updates</h2>

  <table class="table table-bordered table-hover rounded-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>News</td>
        <td>Edit Live News</td>
        <td>
          <button
            class="btn ButtonColorType"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            data-context="news"
            data-id="1"
          >
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>Emergency Notice</td>
        <td>Edit Emergency Notice</td>
        <td>
          <button
            class="btn ButtonColorType"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            data-context="news"
            data-id="2"
          >
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>Login Message</td>
        <td>Edit Login Message</td>
        <td>
          <button
            class="btn ButtonColorType"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            data-context="news"
            data-id="3"
          >
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>Playlist Information</td>
        <td>Edit Playlist Information</td>
        <td>
          <button
            class="btn ButtonColorType"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            data-context="news"
            data-id="4"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script src="/public/js/Content/NewTab.js"></script>
