<div>
  <h2>Server Management</h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Forced Season</td>
        <td>Choose/Set Forced Season</td>
        <td>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            data-context="server"
            data-id="1"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script src="/public/js/Content/NewTab.js"></script>

