<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Give Admin</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="AddModForm">
          <input type="hidden" id="editType" name="type" />
          <input type="hidden" id="editIndex" name="index" />
          <p>* ADDING WRONG/SAME DISCORD IDS COULD BE TERRIBLE *</p>
          <div class="mb-3">
            <label for="editDiscordId" class="form-label">Discord ID</label>
            <input
              type="text"
              class="form-control"
              id="editDiscordId"
              name="discordId"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Add Account
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
