<div
  class="modal fade"
  id="editUserModal"
  tabindex="-1"
  aria-labelledby="editUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="EditModForm">
        <input
          class="form-check-input"
          type="hidden"
          name="accountId"
          id="accountId"
          value="IdkLol"
        />

        <div class="modal-header">
          <h5 class="modal-title" id="editUserModalLabel">Editing User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <ul class="nav nav-tabs" id="editUserTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link ButtonColorType"
                id="details-tab"
                data-bs-toggle="tab"
                data-bs-target="#details"
                type="button"
                role="tab"
                aria-controls="details"
                aria-selected="true"
              >
                Details
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="roles-tab"
                data-bs-toggle="tab"
                data-bs-target="#roles"
                type="button"
                role="tab"
                aria-controls="roles"
                aria-selected="false"
              >
                Roles
              </button>
            </li>
          </ul>
          <hr />

          <div class="tab-content" id="editUserTabsContent">
            <div
              class="tab-pane fade show active"
              id="details"
              role="tabpanel"
              aria-labelledby="details-tab"
            >
              <div class="form-check">
                <label for="editUsersEmail" class="form-label">Email</label>
                <input
                  type="email"
                  name="adminEmail"
                  class="form-control"
                  id="editUsersEmail"
                  placeholder="uh"
                  disabled
                />
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="roles"
              role="tabpanel"
              aria-labelledby="roles-tab"
            >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="RoleIdRadios"
                  id="AdminRadio1"
                  value="adminoption"
                />
                <label class="form-check-label" for="AdminRadio1">
                  Admin
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="RoleIdRadios"
                  id="ModeratorRadio1"
                  value="moderatoroption"
                />
                <label class="form-check-label" for="ModeratorRadio1">
                  Moderators
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            onclick="populateModalClose()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
