<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'roles' ? 'ButtonColorType' : '' %>"
      id="news-tab"
      type="button"
      role="tab"
      aria-controls="news"
      aria-selected="<%= activeTab === 'roles' ? 'true' : '' %>"
      href="/dashboard/panel/roles"
    >
      Admins
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'sm' ? 'ButtonColorType' : '' %>"
      id="news-tab"
      type="button"
      role="tab"
      aria-controls="news"
      aria-selected="<%= activeTab === 'sm' ? 'true' : '' %>"
      href="/dashboard/panel/sm"
    >
      Server Management
  </a>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="servers-tab"
      data-bs-toggle="tab"
      data-bs-target="#servers"
      type="button"
      role="tab"
      aria-controls="servers"
      aria-selected="false"
      disabled
    >
      Coming Soon
    </button>
  </li>
</ul>
