<% if(moderator) { %>
<button
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#addModal"
>
  Add
</button>
<% } %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Admin</td>
      <td>The Admin Account Is Forced (you cannot edit or delete this)</td>
      <td>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
          disabled
        >
          Edit
        </button>
      </td>
    </tr>

    <% AdminLists.forEach(function(adminInfo) { %>
    <tr>
      <td><%= adminInfo.UserData.Username %></td>
      <% if(roleId == 1) { %>
      <td>Moderators cannot 'add' / 'edit' users</td>
      <% } else { %>
      <td>N/A</td>
      <% } %>
      <td>
        <% if(moderator) { %>

        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editUserModal"
          data-admin-info="<%= adminInfo.AccountId %>"
          onclick="populateModalEditUserShow(this)"
        >
          Edit
        </button>
        <% } else { %>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editUserModal"
          disabled
        >
          Edit
        </button>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<% if(moderator) { %> <%- AddMod %> <%- EditMod %> <% } %>

<div
  class="tab-pane fade"
  id="servers"
  role="tabpanel"
  aria-labelledby="servers-tab"
>
  <h2>Server Management</h2>
</div>
